.python-version
__pycache__
.venv
.deps
/test

.DS_Store

datasets/*
!datasets/.gitkeep

make_dataset/external_dataset/*
!make_dataset/external_dataset/.gitkeep

models/*
!models/.gitkeep

/flutter
/flutter_app

/app/__tests__
/app/.bundle
/app/.tmp
/app/.tmp-fast-tflite

.mplconfig

runs
