//
//  Config.dev.xcconfig
//  app
//
//  Created by Sergey Elmanov on 30.03.2026.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// /Users/elmanovsm/personal/cv/graduation/app/ios/Pods/Target Support Files/Pods-app/Pods-app.debug.xcconfig

#include "/Users/elmanovsm/personal/cv/graduation/app/ios/Pods/Target Support Files/Pods-app/Pods-app.debug.xcconfig"

WRITE_LOGS = 0
ENVFILE=.env
